Repository tanmay6414/avrioc-atlantis-test: changes, and which Atlantis projects are due for each by the changed paths.
All: my-project-name, my-project-name1

my-project-name:
  dir: ./product1
  workspace: default
  delete_source_branch_on_merge: true

my-project-name1:
  dir: ./product2
  workspace: default
  delete_source_branch_on_merge: true

Update atlantis.yaml
  atlantis.yaml
Due: none

Update var.tf
  product2/var.tf
Due: my-project-name1

Update provider.tf
  modules/provider.tf
Due: my-project-name, my-project-name1

Update var.tf
  modules/var.tf
Due: my-project-name, my-project-name1

Create Jenkinsfile
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Create doc.yaml
  .github/workflows/doc.yaml
Due: none

Update doc.yaml
  .github/workflows/doc.yaml
Due: none

Path conditions:
  my-project-name: any of: product1/*.tf, modules/**/*.tf, product1/.terraform.lock.hcl
  my-project-name1: any of: product2/*.tf, modules/**/*.tf, product2/.terraform.lock.hcl
